[SddmGreeterTheme]
Name=Home Aurelia
Description=Home Aurelia login theme - dark navy, electric blue, restrained gold
Author=Phoenix OS Project
AuthorEmail=design@phoenix-os.io
License=MIT
Type=sddm-theme
Version=0.2.0

[sddm]
# Recommended SDDM settings for this theme
numlock=on
