[Desktop Entry]
Name=Home Aurelia Arcwyre Edition
Comment=Flagship operating system theme - Stormforged Crimson Rebellion
X-KDE-PluginInfo-Author=Bobby Bboy9090
X-KDE-PluginInfo-Email=bobby@bboy9090.dev
X-KDE-PluginInfo-Name=home-aurelia-arcwyre
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/Bboy9090/PhoenixCore
X-KDE-PluginInfo-License=Proprietary
X-KDE-PluginInfo-EnabledByDefault=true
