[Desktop Entry]
Name=HomeAurelia-Aurelia
Comment=Premium glass-metal window decorations with royal gold frames and electric blue glows.
Type=KDE/WindowDecoration
Author=Antigravity Design Team
Email=design@homeaurelia.org
Version=1.0.0
X-KDE-PluginInfo-Name=HomeAurelia-Aurelia-Aurelia
X-KDE-PluginInfo-Author=Antigravity Design Team
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
