[Desktop Entry]
Name=Phoenix Flagship
X-KDE-PluginInfo-Name=PhoenixFlagship
X-KDE-PluginInfo-Author=Antigravity Design Team
X-KDE-PluginInfo-Email=design@aurelia.org
X-KDE-PluginInfo-License=GPL
