[Desktop Entry]
Exec=/bin/bash /home/phoenix/.local/bin/apply-ha-wallpaper.sh
Icon=dialog-scripts
Name=Apply HomeAurelia Wallpaper
Path=
Type=Application
X-KDE-AutostartScript=true
